<main>
    <div class="nav-home-btn-container">
      <h3 class="nav-home" style="font-size: 24px;">fortyfive</h3>
    </div>
    <nav>
      <div (click)="onBtnToggle()" class="hamburger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
      <ul class="nav-links">
        <div class="nav-container">
          <li>specs</li>
          <!-- <li>blog</li> -->
          <!-- <li>experience</li> -->
          <li>preorder</li>
          <li>FAQs</li>
          <!-- <li>feedback</li> -->
        </div>
      </ul>
    </nav>
  </main>