<app-navigation></app-navigation>
<main>
  <div class="display-content">
    <div class="content-left"></div>
    <div class="image-right"></div>
  </div>
  <div class="display-content">
    <div class="image-left"></div>
    <div class="content-right"></div>   
  </div>
  <div class="display-content">
    <div class="content-left"></div>
    <div class="image-right"></div>
  </div>
  <div class="display-content">
    <div class="image-left"></div>
    <div class="content-right"></div>
  </div>
  <div class="display-content">
    <div class="content-left"></div>
    <div class="image-right"></div>
  </div>
  <div class="display-content">
    <div class="image-left"></div>
    <div class="content-right"></div>   
  </div>
  <div class="display-content">
    <div class="content-left"></div>
    <div class="image-right"></div>
  </div>
  <div class="display-content">
    <div class="image-left"></div>
    <div class="content-right"></div>
  </div>
  <div class="contact-heading">Contact Information:</div>
  <div class="contact-content">
    Name: Shree Harsha Kanumalla <br>
    Phone: +91 99089 70529 <br>
    E-mail: info@utonenergia.com <br>
  </div>
</main>