<app-navigation></app-navigation>
<main>
  <div class="introContainer">
    <div class="leftContent">
      We’re just gonna put this straight out there, the market has a old metallic art with of course a new tech!!!
      This is one of the cheapest electric vehicles with advanced and awesome features. To engage more users and to let
      them
      have a virtual experience of the vehicle, we have deveoped a 3D model which can be customized.
    </div>
    <div class="rightImage"><img src="/assets/images/specs/fortyfive.jpg" alt="" class="specs-landing-img" /></div>
  </div>
  
</main>