<main>
  <div class="nav-home-btn-container">
    <h3 routerLink="/" class="nav-home" style="font-size: 24px;">fortyfive</h3>
  </div>
  <nav>
    <div (click)="onBtnToggle()" class="hamburger">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
    <ul class="nav-links">
      <div class="nav-container">
        <li routerLink="/specs">specs</li>
        <li routerLink="/blog">blog</li>
        <li routerLink="/blog">experience</li>
        <li routerLink="/build">preorder</li>
        <li routerLink="/blog">FAQs</li>
        <li routerLink="/blog">feedback</li>
      </div>
    </ul>
  </nav>
  <div class="home-fortyfive-img-container">
    <img src="/assets/images/fortyfive.jpg" alt="fortyfive-bike" class="home-fortyfive-img" />
    <img src="/assets/images/fortyfivelogo.png" alt="fortyfive-bike" class="home-fortyfive-img" />
  </div>
  <div class="bg-modal">
    <div class="modal-contents">
      <img src="/assets/images/fortyfivelogo.png" alt="" style="width: 40%; height: 30%;">
      <p>Please enter your details so that we make sure you are updated by our new products and features</p>
      <form action="">
        <input type="email" class="inputSelect" placeholder="E-Mail">
        <input type="text" class="inputSelect" placeholder="Phone Number">
        <select class="inputSelect" style="width: 54%;">
          <option value="" disabled selected>Select your option</option>
          <option value="Student">Student</option>
          <option value="Working">Working Professional</option>
        </select>
        <a href="#" class="button" >Submit</a>
      </form>
    </div>
  </div>
</main>